*{
	font-family: Myriad, Helvetica-thin, sans-serif;
	background-color: #cccccc;

}

#header {
	background-color: #666666;
	width: 75%;
	height: 45px;
	border-radius: 5px;
}
#title {
	color: #fffffc;
	padding-top: 4px;
	padding-left: 5px;
	font-size: 1.75pc;
	background-color: #666666;
	border-radius: 5px;
}

#textfield {
	height: 800px;
	width: 900px;
	background-color: white;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
}

p, a {
	background-color: white;
}
