*{
	/*border: 1px dotted black;
	background-color: #cccccc;*/
}
#background {
	background-color: #cccccc;
	height: 850px;
	width: 100%;
	}

#topbar {
	width: 100%;
	height: 65px;
	background-color: #336699;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -45px;
}

#topbar > p {
	text-align: center;
	padding-top: 5px;
	font-size: 3em;
	font: Arial, Helvetica, sans-serif;
	color: #ffff00;
	background-color: #336699;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#login {
	width: 400px;
	height: 160px;
	text-align: center;
	border: 5px solid black;
	border-radius: 13px;
	display: block;
	margin: 75px auto 10px;
	background-color: #336699;
	color: #ffff00;
}

#signup {
	width: 400px;
        height: 50px;
        text-align: center;
        border: 2px solid black;
        border-radius: 13px;
        display: block;
        margin: 15px auto;
	background-color: #e50000;
	opacity: 0.65;
}

#creation {
        width: 400px;
        height: 300px;
        text-align: center;
        border: 5px solid black;
        border-radius: 13px;
        display: block;
        margin: 75px auto 10px;
        background-color: #336699;
        color: #ffff00;
}

#info {
	border: 2px solid black;
	width: 1200px;
	height: 445px;
	margin: 75px auto;
	border-radius: 5px;
}

#totals {
	display: inline-block;
	width: 505px;
	height: 444px;
	border: 2px solid black;
	border-radius: 5px;
	float: right;;
}

#full {
	 font-size: 3.5pc;
        text-align: center;
        margin-top: -1px;
}

#per {
	font-size: 2.25pc;
        text-align: center;
        margin-top: -1px;

}

.stats {
	display: inline-block;
	width: 680px;
	height: 135px;
	border: 1px solid black;
	margin-bottom: -1px;
	border-radius: 5px;
	
}

#total {
	font-size: 4pc;
	text-align: center;
	margin-top: -1px; 
}

h2 {
    	font: Arial, Helvetica, sans-serif;
	margin-top: 10px
	
}

h4 {
	margin-top: -1px;
	margin-bottom: -2px;
}

a {
	text-decoration: none;
	color: black;
	display: inline;
	margin: auto;
}

table {
	display: inline-block;
	width: 680px;
	/*height: 110px;*/
	/*border: 1px dashed black;*/
	margin: -12px auto;
}

td {
	width: 28%;
}

td > p {
	text-align: center;
}

img {
	height: 50;
	width: 50;
	margin: auto;
}
